<%- include('partials/head.ejs') %>

<body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <a href="/event/newEvent" class="btn btn-primary">Novo Evento</a>
    <a href="/user/editUser" class="btn btn-primary">Editar Usuário</a>
    <br><br>
    <% if (existingEvents.length > 0) { %>
        <% existingEvents.forEach(event => { %>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><%= event.description %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= new Date(event.date).toLocaleDateString('pt-BR', {timeZone: 'UTC'}) %></h6>

                    <a href="/bingoCard/newBingoCard?idEvent=<%= event.id %>" class="btn btn-primary">Nova Cartela</a>
                    <a href="/bingoCard?idEvent=<%= event.id  %>" class="btn btn-secondary">Ver Cartelas</a>
                    <a href="/event/editEvent?idEvent=<%= event.id %>" class="btn btn-info">Editar Evento</a>
                </div>
            </div>
        <% }) %>
    <% } else {%>
        <h3>Sem eventos</h3>
    <% } %>
</body>
</html>